@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--primary-color: rgba(139, 195, 74, 1);
	--primary-blur: rgba(139, 195, 74, 0.3);
	--text-color: rgba(241, 248, 233, 1);
	--section-bg: rgba(255, 255, 255, 0.2);
	--section-blur: rgba(255, 255, 255, 0.3);
	--section-hover: rgba(255, 255, 255, 0.4);
	--footer-bg: rgba(19, 34, 23, 1);
}

::selection {
	color: var(--text-color);
	background-color: var(--primary-color);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgba(99, 148, 42, 0.3);
}

::-webkit-scrollbar-thumb {
	width: 8px;
	height: 8px;
	border: 1px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
	background-color: rgba(65, 113, 11, 0.8);
}

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
	box-sizing: border-box;
}

img {
	user-select: none;
}

body {
	min-height: 100vh;
	background-image: url(/images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-green {
	color: var(--primary-color);
}

.btn-green,
.btn-white,
.btn-transparent {
	font-size: 1rem;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid var(--text-color);
	padding: 8px 40px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.3s;
}

.btn-green,
.btn-white {
	color: #424242;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-green {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
}

.btn-green:hover,
.btn-transparent:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	box-shadow: 0 0 10px var(--primary-color);
}

.btn-white {
	border-color: var(--text-color);
	background-color: var(--text-color);
}

.btn-white:hover {
	background-color: var(--text-color);
	border-color: var(--text-color);
	box-shadow: 0 0 10px var(--text-color);
}
