#header {
	width: 100%;
	margin-top: 7vh;
	padding: 0 0px 14px;
	left: 0;
	z-index: 1;
	position: absolute;
}

#header.fixed {
	width: 100%;
	margin-top: 0px;
	padding: 14px 0px;
	position: fixed;
	top: 0;
	background-color: var(--section-bg);
	backdrop-filter: blur(12px);
}

#header.prepare-fixed {
	transition: background-color 0.5s ease-in-out;
}

#header.remove-fixed {
	transition: background-color 0s ease-in-out;
}

#header > .flex-between {
	width: 80vw;
	padding: calc(4vh + 14px) 110px 0px;
	overflow: hidden;
}

#header.fixed > .flex-between {
	padding: 0px 110px;
	overflow: visible;
}

#header .logo {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

#header .butterfly-1 {
	width: 25px;
	height: 25px;
	position: absolute;
	top: -6.5px;
	left: -6.5px;
}

#header .nav-links {
	display: flex;
}

#header .nav-item {
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin: 8px 15px;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
}

#header .nav-item::before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%) scaleX(0);
	height: 2px;
	width: 100%;
	background-color: var(--text-color);
	transition: 0.3s;
	box-shadow: 0 0 3px var(--text-color);
}

#header .nav-item:hover {
	text-shadow: 0 0 10px var(--text-color);
}

#header .nav-item:hover::before {
	transform: translateX(-50%) scaleX(1);
}

#header .btn-transparent:first-child {
	margin-right: 20px;
}
